.main {
  margin: 40px;
  &__title {
    color: rgb(103, 25, 25);
  }
}
.form {
  width: max-content;
  background-color: rgba(238, 214, 182, 0.382);
  border-radius: 10px;
  padding: 30px;
  font-size: 20px;
  color: rgb(103, 25, 25);
  &__field {
    border-bottom: 1px dashed rgb(103, 25, 25);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  &__label {
    margin-right: 10px;
    &--sex {
      margin-right: 50px;
    }
  }
  &__text {
    border: 1px solid rgb(103, 25, 25);
    border-radius: 5px;
    width: 65%;
    padding: 5px 10px;
    color: rgb(103, 25, 25);
  }
  &__sex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__jobs {
    color: rgb(103, 25, 25);
    border: 1px solid rgb(103, 25, 25);
    border-radius: 5px;
  }
  &__job-option {
    &:focus {
      background-color: rgb(103, 25, 25, 0.5);
    }
  }
  &__button {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: rgb(103, 25, 25);
    color: #ffffff;
    &:enabled {
      cursor: pointer;
      opacity: 1;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
  &__error {
    display: none;
    color: #ff0000;
  }
}
